# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
*.log

# Build / Distribution
build/
dist/
*.egg-info/

# Documentation
docs/_build/
docs/api/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/